<footer class="footer">
    <p style="text-align: center;">Met  <span style="color: red;" class="glyphicon glyphicon-heart" aria-hidden="true"></span> gemaakt door <i>Alles onder Controle</i>.</p>
</footer>