<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
            <li role="presentation"><a href="/form">Meld Crisis</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
        </ul>
    </nav>
    <h3 class="text-muted"><b>C</b>risis <b>I</b>nformatie <b>M</b>anagement <b>S</b>ysteem</h3>
</div>